html{
    scroll-behavior: smooth;
}
#a{
    list-style-type:none;
    color:black;
    text-decoration:none;
}
#links{
    letter-spacing: 1.5px;
}

body{
    background-color: whitesmoke;
    font-family:jura , helvetica, Arial,sans-serif;
}
#a:hover{
    color:#f44292;
}
#welcome{
    text-align:center;
    background-color:white;
    color:white;
    padding:2em 0 2em 0;
    font-family:georgia;
    margin-top:9em;
    color:#02203c;
}
#comp-logos{
    margin:5em;
    display: flex;
    justify-content: space-evenly;
}
#containers{
margin-top:5em;
display:grid;
grid-template-columns:repeat(3,auto);
grid-template-rows:repeat(2,auto);
grid-gap:40px;

}
#sub-container{
    margin:0 auto;
    border:2px solid lightgray;
    top:auto;
    width:21em;
    text-align:center;
    font-family:georgia;
    border-radius: 10px 10px 10px 10px ;
}
#button-one{
    border:2px solid #02203c;
    padding:1.3em 5em 1.3em 5em;
    background-color: #02203c;
    color:white;
    border-radius:3px 3px 3px 3px;
    margin-bottom: 3em;
}
#sub-container:hover{
    border-color:lightgrey;
}
strong:hover{
color:#f44292;
}
#h3{
    text-align:center;
    font-family: georgia;
}
#button-three{
    border:2px solid #f44292;
    padding:1.3em 5em 1.3em 5em;
    background-color: #f44292;
    color:white;
    border-radius:3px 3px 3px 3px;
}
#image-edit{
    border-radius:10px 10px 0 0 ;
}
#register-page{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1,auto);
    margin:20px 0 0 0;
    border:2px solid whitesmoke;
    border-radius: 5px 5px 5px 5px;
}
#register-welcome{
    text-align: center;
    background: #047aed;
    border:2px solid #047aed;
    border-radius: 8px 8px 8px 8px;
    color : whitesmoke;
    font-size: 20px;
    letter-spacing: 1.5px;
   
}
#contact-info{
    text-align:center;
    border: 2px solid white;
    letter-spacing: 1.5px;
    font-size:18px;
    background: white;
    border-radius: 8px 8px 8px 8px;
    color: #02203c;
}
.place{
    padding:1em 1em 1em 1em;
    border:3px solid whitesmoke;
    border-radius: 7px 7px 7px 7px;
    font-family: monospace;
}
#but-form{
    outline: none;
    border:2px solid #02203c;
    background: transparent;
    padding:1.0em 3em 1.0em 3em;
    border-radius: 30px 30px 30px 30px;
}
#but-form:hover{
    background: #02203c;
    color:whitesmoke;
}
#sub-form{
    border:2px solid whitesmoke;
    padding:1.0em 3em 1.0em 3em;
    background: transparent;
    color:whitesmoke;
    border-radius: 28px 28px 28px 28px;
    outline:none;
}
#social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:10px;
}
#last-head{
    text-align:center;
    font-family:monospace;
    font-size:18px;
}
#last{
    font-family: monospace;
    text-align: center;
    font-size:17px;
}